<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726898059856-hubc5ha583ofrakhslv6uj0iaeo7bg6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726898059856-hubc5ha583ofrakhslv6uj0iaeo7bg6d</string>
	<key>API_KEY</key>
	<string>AIzaSyDpk6lslxh47MwuOG_1-SFB5WQ6QZKQKSI</string>
	<key>GCM_SENDER_ID</key>
	<string>726898059856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFcmSample</string>
	<key>PROJECT_ID</key>
	<string>fcm-sample-test-96b96</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-sample-test-96b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726898059856:ios:34d77ffffe5da56e01ff55</string>
</dict>
</plist>